@media (max-width: 1200px) {
	.userInfoClm .userInfo h3{
		font-size: 28px;
	}
	.userInfoClm .userImg{
	 width: 150px;
      height: 150px;
	}
}

@media (max-width: 992px) {
	.userInfoClm .userInfo{
		    border-bottom: 1.5px solid #cfa336;
		    border-right: 0px;
    padding-bottom: 20px;
    text-align: center;
	}
.userProCard{
	flex-direction: column;
}
.userInfoClm{
	    width: 100%;
    flex-direction: column;
}
.sectionImg-1 {
width: 50vw;
height: 480px;
}

.sectionImgBox {
position: relative;
height: 480px;
}

.pText {
font-size: 14px;
}

.navbar-light .navbar-toggler {
background: #ffffff;
padding: 3px 6px;
}

.navBtnBar {
margin-top: 30px;
}

.navigationBar .navbar-nav .nav-link {
font-size: 16px;
font-weight: 600;
padding: 5px 0px;
color: #000;
}

.navigationBar {
background: #ffff;
padding: 15px 15px;
border-radius: 5px;
position: relative;
z-index: 99;
}
.userDetailClm{
	width: 100%;
}
}



@media (max-width: 768px) {
	#sync2 .owl-nav .owl-next{
		right: -25px;
	}
	#sync2 .owl-nav .owl-prev{
		left: -15px;
	}
	#sync1{
		margin-bottom: 10px;
	}
	#sync2 .item{
		margin: 5px;
	}
.thumbnailSliderImg{
	height: 90px;
}
.sliderImg, #sync1 .owl-stage-outer{
	height: 300px;
}
.propertyInfo{
	flex-direction: column;
	gap: 30px;
}
.partner-header{
height: 400px;
}
.SignUpform .formBox{
padding: 0px 20px 20px;
}
#card-content {
padding-left: 0px;
}

#card-image-box {
margin-bottom: 40px;
}

.headerTitle {
font-size: 30px;
white-space: nowrap;
}

.about-header {
height: 400px;
}

.tableSection .row {
overflow-x: auto;
padding-bottom: 30px;
max-width: 500px;
margin-right: 0px;
}

.glencove-detail-td {
width: auto;
}

.thText {
font-size: 12px;
}

.tdText {
font-size: 11px;
}

.footerBottomBar {
flex-direction: column-reverse;
gap: 12px
}

.ftContentBox,
.ftLinkListRow {
margin-bottom: 40px;
}

.counterSection {
margin-top: 20px;
margin-bottom: 20px;
}

.linkTextBtn {
float: unset;
text-align: center;
display: block;
width: fit-content;
margin: 40px auto 0px;
}

.sectionImgBox {
height: auto;
margin-bottom: 30px;
}

.sectionImg-1 {
position: relative;
width: 100%;
height: auto;
border-radius: 60px;
}

.formContainer {
height: 400px;
}

.carousel-inner .carousel-item>div {
display: none;
}

.carousel-inner .carousel-item>div:first-child {
display: block;
}

.carousel-inner .carousel-item-end.active,
.carousel-inner .carousel-item-next {
transform: translateX(25%);
}

.carousel-inner .carousel-item-start.active,
.carousel-inner .carousel-item-prev {
transform: translateX(-25%);
}

.team-member-img img {
height: 300px;
}

.FormRowBar {
flex-direction: column;
}

.formClmBar .form-select {
border-right: 0px;
position: relative;
height: 50px;
}

.formClmBar:before {
content: "";
width: 100%;
height: 1.5px;
background: #cfa336;
position: absolute;
left: 0px;
bottom: 0px;
}

.formClmBar input {
border-right: 0px;
}

.FormRowBar .searchBtn {
background: #cfa336;
width: 100%;
border-radius: 0px 0px 12px 12px;
}


.sectionTitle h2 {
font-size: 30px;
}

.counterTile span {
font-size: 30px;
}

.counterBox {
margin-bottom: 40px;
}

.counterSection {
height: auto;
}
.contactUsContent{
	text-align: center;
	padding-right: 0px;
}
.cnTitle{
	margin: 0 auto 15px;
}
.cnLink{
	max-width: 100%;
}
.contactInfo{
	margin-bottom: 40px;
}
.contactUsContent > h2{
	font-size: 28px;
}
}